.container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(7,50px);
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
header, nav, .hero, main {
    color: white;
}
.container>*{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-color: black;
}
nav{
    background-color: rgb(245, 52, 52);
}
.hero {
    background-color: rgb(140, 140, 236);
}
main {
    background-color: darkblue;
}
.banner {
    background-color: rgb(250, 214, 9);
}
.extra {
    background-color: rgb(81, 167, 81);
}
.image {
    background-color: lightblue;
}