.container {
    display: grid;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat(8,100px);
    color: white;
    font-size: 20px;
    gap: 5px;
}
.box1, .box2, .box3,.box4, .box5 {
    background-color: rgb(66, 177, 197);
    padding: 8px;
}
.box6, .box7, .box8,.box9, .box10, .box11, .box12, .box13 {
    background-color: rgb(96, 165, 142);
    padding: 8px;
}
.box14, .box15, .box16,.box17, .box18 {
    background-color: rgb(127, 58, 184);
    padding: 8px;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.box2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.box3{
    grid-column: 3/4;
    grid-row: 1/2;
}
.box4{
    grid-column: 2/4;
    grid-row: 2/4;
}
.box5{
    grid-column: 3/4;
    grid-row: 4/5;
}
.box6{
    grid-column:2/3 ;
    grid-row:4/5 ;
}
.box7{
    grid-column: 2/3;
    grid-row: 5/6;
}
.box8{
    grid-column: 3/4;
    grid-row: 5/6;
}
.box9{
    grid-column:2/3 ;
    grid-row: 6/7;
}
.box10{
    grid-column:5/6 ;
    grid-row: 2/3;
}
.box11{
    grid-column:4/5 ;
    grid-row: 3/4;
}
.box12{
    grid-column:5/6 ;
    grid-row: 3/4;
}
.box13{
    grid-column:4/6 ;
    grid-row: 4/6;
}
.box14{
    grid-column:3/5 ;
    grid-row: 6/8;
}
.box15{
    grid-column: 5/6;
    grid-row: 6/7;
}
.box16{
    grid-column:6/7;
    grid-row:6/7 ;
}
.box17{
    grid-column: 5/6;
    grid-row:7/8 ;
}
.box18{
    grid-column:4/5 ;
    grid-row: 8/9;
}