body {
   font-family: 'Courier New', Courier, monospace; 
}

h1 {
    text-align: center;
    text-decoration: overline;
    font-weight: normal;
    letter-spacing: 4px;
}

h2 {
    color:rgb(206, 79, 79);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    line-height: 3;
}