* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 230, 230);
       
}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 500px;
    border: 1px solid black;
    margin: 20px;
    background-color: white;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.info > img {
    width:25px;
    height: 25px;
}
.info>p {
    padding: 15px;
    font-size: 25px;
    font-weight: 700;
    
}
.info>span{
    color: red;
    font-size: 20px;
    font-weight: 700;
}
.info>img {
    background-color: red;
    border-radius: 100%;
    padding: 15px;
    border: 5px solid white;
    position: relative;
    top: -228px;
}