.menu {
    margin: 0;
    padding: 0;
}
header{
    margin-top: 200px;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
   }  
.menu ul, li>ul {
   list-style: none;
}
.menu>ul {
    display: flex;
    justify-content: center;
}
.menu > ul li a{
    display: block;
    background: #ececed;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}    
.menu>ul li> a i {
    position: absolute;
    font-size: 20px;
    top: 13px;
    left: 12px;
}
.menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
   }
.menu > ul li:last-child{
    border-right: 1px solid #babbbd;
   }  
.menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
   }   
.menu li a:hover{
    background: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   } 
.menu li>ul {
    position: absolute;
    min-width: 150px;
    display: none;
    
}
.menu li>ul li{
    border: 1px solid #c7c8ca;
  
}
.menu li:hover>ul{
    display: block;
}
.menu ul ul li>ul {
    position: absolute;
    left: 154.5px;
    top: 0px;
    background: #ececed;
    font-size: 14px;
    color: #454547;
    padding-left: 0;
    display: none;
 
}
.menu ul li:hover>ul {
    display: block;
}